$bgcolor1: #f3f3f1;
$bgcolor2: #dddddb;
$bluebg: #3465a4;
$headerbg: #3465a4;
$graybg: #d0d0cd;
$greenbg: #69ad42;
$redbg: #cf4740;
$yellowbg: #c6bd28;
$darkbg: #25383f;

$blacktext: #252a2b;
$headertext: #f4f4f3;
$linktext: #166fe0;
$whitetext: #f4f4f3;
$lighttext: #eeeeec;

$blueborder: #182f4c;
$grayborder: #babdb6;
$greenborder: #355721;
$redborder: #782925;
$yellowborder: #6f6a1d;

