@mixin text-inset($base-color) {
    /* Makes text appear to be engraved into its background */
    color: $base-color;
    @if lightness($base-color) > 30% {
        text-shadow: black 0px -1px;
    } @else {
        text-shadow: white 0px 1px;
    }
}
@mixin text-outset($base-color) {
    /* Makes text appear to be sitting on top of its background */
    color: $base-color;
    @if lightness($base-color) > 30% {
        text-shadow: black 0px 1px;
    } @else {
        text-shadow: white 0px -1px;
    }
}
