/* Global styles file for RouteMaster */

/* Fonts */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
         url('../img/SourceCodePro400.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
         url('../img/SourceSansPro400.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
         url('../img/SourceSansPro600.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
         url('../img/SourceSansPro700.ttf') format('truetype');
}

/* Colors */
$bgcolor1: #f3f3f1;
$bgcolor2: #dddddb;
$bluebg: #3465a4;
$headerbg: #3465a4;
$graybg: #d0d0cd;
$greenbg: #69ad42;
$redbg: #cf4740;
$yellowbg: #c6bd28;
$darkbg: #25383f;

$blacktext: #252a2b;
$headertext: #f4f4f3;
$linktext: #166fe0;
$whitetext: #f4f4f3;
$lighttext: #eeeeec;

$blueborder: #182f4c;
$grayborder: #babdb6;
$greenborder: #355721;
$redborder: #782925;
$yellowborder: #6f6a1d;

/* Apply a CSS-reset
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of CSS-reset */

/* Page styles */
html {
    height: 100%;
}
body {
    background-color: $bgcolor2;
    background-image: linear-gradient(to bottom, $bgcolor1, $bgcolor2 300px);
    background-repeat: no-repeat;
    color: $blacktext;
    font: 100%/1.4 "Source Sans Pro", sans-serif;
    margin-top: 74px;
    text-align: center;
}
div#top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9001;
}
div#top > header {
    background-color: $headerbg;
    color: $headertext;
    height: 37px;
}
div#top > header h1 {
    font-size: 1.4em;
    line-height: 34px;
}
div#top > header img {
    vertical-align: middle;
}
div#top > header #menu-button {
    padding: 0.2em;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}
div#top > nav {
    display: table;
    height: 37px;
    width: 100%;
}
div#top > nav a {
    border-radius: 0;
    display: table-cell;
    font-size: 0.8em;
    line-height: 35px;
    padding: 0;
    text-decoration: none;
    width: 25%;
}
footer {
    border-top: 1px solid $grayborder;
    font-size: 0.7em;
    margin: 0.2em 0.5em;
}

/* Section styles */
section {
    padding: 0.2em 0;
}
section.green {
    background-color: $greenbg;
}
section.red {
    background-color: $redbg;
}
section.hidden {
    display: none;
}
section p {
    padding: 0.2em 0.5em;
    text-align: left;
}
section img {
    border: 1px solid $grayborder;
    border-radius: 0.5em;
    margin: 0.2em 0;
}
section li {
    padding: 0.2em 0.5em;
}
section ul.listing {
    text-align: left;
}
section ul.listing li {
    padding: 0;
}
section ul.listing li:nth-child(odd) {
    background-color: $graybg;
}
section ul.listing li > a {
    display: block;
    padding: 0.4em 0.5em;
}
form ul {
    display: table;
    width: 100%;
}
form li {
    display: table-row;
}
form li:hover {
    background: $graybg;
}
form label,
form span {
    display: table-cell;
    padding: 0.2em 0.5em;
    vertical-align: middle;
}
form label {
    border-right: 1px solid $grayborder;
    text-align: right;
}
form span {
    text-align: left;
}
.inverted {
    background-color: $darkbg;
    color: $lighttext;
}

/* Text styles */
a {
    color: $linktext;
}
em {
    font-style: italic;
}
strong {
    font-weight: 600;
}
h1, h2 {
    font-weight: bold;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.1em;
}
code, var {
    font-family: "Source Code Pro", monospace;
}
dt {
    float: left;
    padding: 0 0.5em;
    text-align: right;
    width: 50%;
}
dd {
    font-weight: bold;
    margin-left: 50%;
    padding: 0 0.5em;
    text-align: left;
}
button,
a.button,
nav a {
    background: $bluebg;
    border: 1px solid $blueborder;
    border-radius: 0.4em;
    color: $whitetext;
    display: block;
    padding: 0.3em 0.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: black 0 0 2px;
}
button:hover, button:active,
a.button:hover, a.button:active,
nav a:hover, nav a:active,
a.active {
    background-color: lighten($bluebg, 10%);
    cursor: pointer;
}
button.active,
a.button.active {
    background-color: $greenbg;
    border-color: $greenborder;
    cursor: default;
}

/* Leaflet Map*/
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 180px;
    width: 100%;
    background-color: black;
}
