/* Global styles file for RouteMaster */

@import "reset";
@import "fonts";
@import "colors";
@import "emboss";

/* Page styles */
html {
    height: 100%;
}
body {
    background-color: $bgcolor2;
    background-image: linear-gradient(to bottom, $bgcolor1, $bgcolor2 300px);
    background-repeat: no-repeat;
    color: $blacktext;
    font: 100%/1.4 "Source Sans Pro", sans-serif;
    margin-top: 74px;
    text-align: center;
}
div#top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9001;
}
div#top > header {
    background-color: $headerbg;
    @include text-inset($headertext);
    height: 37px;
}
div#top > header h1 {
    font-size: 1.4em;
    line-height: 34px;
}
div#top > header img {
    vertical-align: middle;
}
div#top > header #menu-button {
    padding: 0.2em;
    position: absolute;
    right: 0.2em;
    top: 0.2em;
}
div#top > nav {
    border-collapse: collapse;
    display: table;
    height: 37px;
    width: 100%;
}
div#top > nav a {
    border-radius: 0;
    display: table-cell;
    font-size: 0.8em;
    line-height: 1;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
    width: 25%;
}
footer {
    border-top: 1px solid $grayborder;
    font-size: 0.7em;
    margin: 0.2em 0.5em;
}

/* Section styles */
section {
    padding: 0.2em 0;
}
section.green {
    background-color: $greenbg;
}
section.red {
    background-color: $redbg;
}
section.hidden {
    display: none;
}
section p {
    padding: 0.2em 0.5em;
    text-align: left;
}
section > img {
    border: 1px solid $grayborder;
    border-radius: 0.5em;
    margin: 0.2em 0;
}
section li {
    padding: 0.2em 0.5em;
}
section .listing,
section .listing {
    text-align: left;
}
section .listing li {
    padding: 0;
}
section .listing li:nth-child(odd) {
    background-color: $graybg;
}
section .listing li > a {
    display: block;
    padding: 0.4em 0.5em;
}
form ul {
    display: table;
    width: 100%;
}
form li {
    display: table-row;
}
form li:hover {
    background: $graybg;
}
form label,
form span {
    display: table-cell;
    padding: 0.2em 0.5em;
    vertical-align: middle;
}
form label {
    border-right: 1px solid $grayborder;
    text-align: right;
}
form span {
    text-align: left;
}
.inverted {
    background-color: $darkbg;
    @include text-inset($lighttext);
}

/* Text styles */
a {
    color: $linktext;
}
em {
    font-style: italic;
}
strong {
    font-weight: 600;
}
h1, h2 {
    font-weight: bold;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.1em;
}
code, var {
    font-family: "Source Code Pro", monospace;
}
dt {
    float: left;
    padding: 0 0.5em;
    text-align: right;
    width: 50%;
}
dd {
    font-weight: bold;
    margin-left: 50%;
    padding: 0 0.5em;
    text-align: left;
}
button,
a.button,
nav a {
    background: $bluebg;
    border: 1px solid $blueborder;
    border-radius: 0.4em;
    color: $whitetext;
    display: block;
    padding: 0.3em 0.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: black 0 0 2px;
}
nav a {
    background: $darkbg;
    border-color: black;
    @include text-inset($whitetext);
}
nav a.active {
    background-color: $bluebg;
}
button:hover, button:active,
a.button:hover, a.button:active,
nav a:hover, nav a:active,
a.active {
    background-color: lighten($bluebg, 10%);
    cursor: pointer;
}
button.active,
a.button.active {
    background-color: $greenbg;
    border-color: $greenborder;
    cursor: default;
}

/* Leaflet Map*/
#track>.map {
    height: 240px;
    margin: 0.2em 0;
}
